$text-color-green: #009b4d;
$text-color-light-grey:rgba(43, 41, 45, 0.6); 
$color-light: #F4F5F7;
$border-color: #2B292D33;
$text-color-blue: #3142C6;
$color-dark: #2b292d;
$color-light-blue: #00A1C612;
